<div class="fl w-100">
  <div class="fl w-10">
    <img src="./assets/images/icons/icon_trashcan_rost.svg" alt="" class="w-70">
  </div>
  <div class="fl w-80 mt2">
    <p class="b">Är du säker?</p>

    <p>Är du säker på att du vill <strong>ta bort</strong> <strong>dig själv</strong> från Den interaktiva 
    genomförandeplanen. All din information kommer att tas bort och Du kommer inte längre kunna logga in. 
    <strong>Detta går inte att ångra.</strong></p>

    <p class="rost"><i>Du kan endast ta bort dig själv om du först fört över ditt ansvar som kontaktperson för ungdomar till 
    andra kontaktpersoner</i></p>

    <app-delete-me-form></app-delete-me-form>
  </div>
</div>