<mat-icon svgIcon="sb-trashcan" class="fl mr3 icon-50 rost absolute"></mat-icon>
<div class="w-80 h2 center mb1">
  <p class="pt1 b">Är du säker?</p>
</div>
<div class="w-80 center">
  <p class="p0">
    Är du säker på att du vill <strong class="rost">ta bort</strong> <strong class="gbgblue">{{ goalName }}</strong> från <strong class="gbgblue">{{ userName }}</strong>? All information och data kopplat till målet kommer att tas bort. <strong class="rost">Detta går inte att ångra</strong>.
  </p>
  <form (ngSubmit)="apply()" [formGroup]="confirmForm">
    <div class="tc mb3">
      <mat-checkbox formControlName="confirm" color="primary">
        <span class="gbgblue">Jag har förstått vad detta innebär</span>
      </mat-checkbox>
    </div>
    <div class="fl w-50">
      <button mat-raised-button type="button" (click)="dialogRef.close()" color="warn" class="fl w-90">Avbryt</button>
    </div>
    <div class="fl w-50">
      <button mat-raised-button type="submit" [disabled]="confirmForm.invalid" color="primary" class="fr w-90">Ta bort</button>
    </div>
  </form>
</div>