<form [formGroup]="editAssignmentForm" (ngSubmit)="editAssignment(editAssignmentForm)">
  <div class="w-100 mt2 pb2">
    <div class="fl w-100">
      <mat-form-field class="w-100">
        <input matInput type="text" formControlName="name" placeholder="Uppdragsnamn" required>
      </mat-form-field>
    </div>
    <div class="fl w-100">
      <div class="fl w-60">
        <mat-form-field class="w-100">
          <mat-select placeholder="Uppdragskategori" formControlName="categoryName">
            <mat-option *ngFor="let assignmentCategory of assignmentCategories" [value]="assignmentCategory.id">
              {{ assignmentCategory.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <button mat-icon-button type="button" (click)="openAssignmentTemplatesDialog()" class="fl mt2 ml2 pt2 pointer" [disabled]="isFinished()">
        <mat-icon svgIcon="sb-folder" color="aska"></mat-icon>
      </button>
    </div>
    <div class="fl w-100 mb0">
      <div *ngIf="isActivity" class="fl w-40 mr3">
        <div class="fl w-80">
          <mat-form-field class="w-100">
            <input (focus)="picker2.open()" matInput formControlName="startDate" [min]="minDate" [matDatepicker]="picker2" placeholder="Startdatum">
            <mat-datepicker touchUi="true" #picker2></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="fl">
          <button mat-icon-button type="button" [disabled]="isFinished()" class="w2" (click)="picker2.open()">
            <mat-icon svgIcon="sb-calendar-n" color="aska"></mat-icon>
          </button>
        </div>
      </div>
      <div class="fl w-40 mr2">
        <div class="fl w-80">
          <mat-form-field class="w-100">
            <input (focus)="picker.open()" matInput formControlName="endDate" [min]="minDate" [matDatepicker]="picker" placeholder="Slutdatum" required>
            <mat-datepicker touchUi="true" #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="fl">
          <button mat-icon-button type="button" [disabled]="isFinished()" class="w2" (click)="picker.open()">
            <mat-icon svgIcon="sb-calendar-n" color="aska"></mat-icon>
          </button>
        </div>
      </div>
      <div class="fl w-10">
        <div class="fl mt2">
          <mat-checkbox [checked]="isActivity" (change)="isActivity = !isActivity" color="primary" [disabled]="isFinished()">Aktivitet</mat-checkbox>
        </div>
      </div>
    </div>
    <div class="fl w-100 mb4">
      <h3 class="mt1 normal">Inlämningsform:</h3>
      <div *ngFor="let assignmentForm of assignmentForms; let i = index" class="fl mr3">
        <mat-checkbox (change)="onFormSelect()" *ngIf="assignmentForm?.name === 'Foto'" formControlName="checkbox{{i}}" color="primary">{{assignmentForm?.name}}</mat-checkbox>
        <mat-checkbox (change)="onFormSelect()" *ngIf="assignmentForm?.name === 'Text'" formControlName="checkbox{{i}}" color="primary">{{assignmentForm?.name}}</mat-checkbox>
        <mat-checkbox (change)="onBockSelect()" *ngIf="assignmentForm?.name === 'Bocka av'" formControlName="checkbox{{i}}" color="primary">{{assignmentForm?.name}}</mat-checkbox>
      </div>
    </div>
    <div class="fl w-100 mb3">
      <div *ngIf=" imageData?.base64 || assignment?.image_description_url " class="fl mr3">
        <img *ngIf="imageData?.base64" src="{{ imageData?.base64 }}" alt="" width="200px" onError="this.src='';">
        <img *ngIf="assignment?.image_description_url && !imageData?.base64" src="{{ assignment?.image_description_url }}" alt=""
          width="200px" onError="this.src='';">
      </div>
      <div class="fl mr2">
        <input (change)="readUrl($event)" type="file" accept="image/*" #file hidden>
        <div class="mb2">
          <button mat-mini-fab (click)="file.click()" type="button" color="primary" [disabled]="isFinished()">
            <mat-icon svgIcon="sb-plus"></mat-icon>
          </button>
        </div>
        <div *ngIf=" imageData?.base64 || assignment?.image_description_url ">
          <button mat-mini-fab type="button" color="warn" (click)=" imageData.base64 = undefined " (click)=" assignment.image_description_url = null ">
            <mat-icon svgIcon="sb-trashcan"></mat-icon>
          </button>
        </div>
      </div>
      <div class="fl mt2">
        <p class="mb0">Lägg till en bild</p>
      </div>
    </div>
    <div class="fl w-100 mb3">
      <mat-form-field class="w-100">
        <textarea matInput matTextareaAutosize formControlName="description" placeholder="Beskrivning..." matAutosizeMinRows="7"
          type="text" required></textarea>
      </mat-form-field>
    </div>
  </div>
  <div class="fl w-100">
    <div class="fl w-40">
      <button (click)="location.back()" type="button" mat-raised-button color="warn" class="w-100">Avbryt</button>
    </div>
    <div class="fr w-40">
      <button [disabled]="assignment?.finished_at" mat-raised-button color="primary" class="w-100">Spara</button>
    </div>
  </div>
  &nbsp;
</form>
