<div class="fl w-100 pa2 ">
  <div class="fl pl5 pt3 absolute">
    <img src="./assets/images/logos/logo_sambuh.svg" alt="" class="w4 h4">
  </div>
  <div class="fr">
    <img src="./assets/images/logos/logo_bankID.svg" alt="" class="w2 h2">
  </div>
  <div class="fr pr2">
    <button (click)="openLoginDialog()" mat-raised-button color="primary" class="">Logga in</button>
  </div>
</div>
<div class="fl w-100 pa5 pt6 ba bw1 b-color-ocean bg-white">
  <p class="b">Välkommen till Sambuh Den Interaktiva Genomförandeplanen!</p>
  <p>Sambuh är en HVB (Hem för vård eller boende) och stödboende för ungdomar 16-20år. Verksamheten riktar sig
  till dig som av olika anledningar inte kan bo kvar hemma och behöver stöd till att bli självständig och klara ett
  eget boende. Sambuh kan endast ta emot ungdomar som är folkbokförda i någon av stadsdelarna på Hisingen. Då
  Sambuh är ett bistånd via Socialtjänsten, görs ansökan hos socialsekreterare i aktuell stadsdel.</p>
  > <a href="javascript:void(0)" (click)="openLoginDialog()" class="b">Här kan du som auktoriserad kontaktperson logga in med BankID.</a>
</div>
