.goal-entry .mat-input-container.ng-valid.ng-touched .mat-input-flex{
    background-image: url("../../assets/images/icons/icon_checkRound.svg");
    background-repeat: no-repeat;
    background-position: 88% center;
    background-color: rgba(136, 205, 208, 0.3);
    background-size: 25px;
}