.nav-logo {
  width:15%;
  max-width:100%;
}

.adolescent.big {
  .mat-button-wrapper {
    padding: 8px 0;
      .mat-icon {
        height:36px;
        width:36px;
      }
  }
}
.mat-icon.icon-80 {
  height: 80px;
  width: 80px
}
.mat-icon.icon-60 {
  height: 60px;
  width: 60px
}
.mat-icon.icon-50 {
  height: 40px;
  width: 40px;
}
.mat-icon.icon-40 {
  height: 40px;
  width: 40px;
}
