$background-color-primary: #f5f5f5;

$aska-color: #3F5564;
$gbgblue-color: #0076bc;
$ocean-color: #88cdd0;
$rost-color: #b93342;
$violett-color: #B35593;
$senap-color: #f2b600;
$morot-color: #f18700;
$arta-color: #51AA50;
$dark-grey: rgb(165,169,175);
$white: #ffffff;
$black: #000000;

$ocean-transparent: rgba(136, 205, 208, .3);

$primary-color: $gbgblue-color;
$accent-color: $ocean-color;
$warn-color: $rost-color;

$warn-theme-primary-color: $warn-color;
$warn-theme-accent-color: $morot-color;
$warn-theme-warn-color: $senap-color;

